.brand-overide {
    position: absolute;
    top: auto;
    left: auto;
    right: 55px;
    bottom: 0px;
    background-color: transparent;
    width: 70px;
    height: 36px;
}

.related-overide {
    position: absolute;
    top: auto;
    left: auto;
    right: 4%;
    bottom: 26%;
    background-color: transparent;
    width: 93%;
    height: 35%;
}